@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>GamesTB</b></h1>
    <p><b>Tú lo quieres nosotros lo tenemos 🎮</b></a>.</p>
</div>

<div>

    <a href="/Juego">
        <img src="~/images/Tienda_1.jfif" alt="Tienda 1" class="image" />
    </a>

    <a href="/Juego">
        <img src="~/images/Tienda_2.jfif" alt="Tienda 2" class="image" />
    </a>
</div>
