@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Bienvenido a Gamestb. Esta política de privacidad describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios. Si tiene alguna pregunta, no dude en contactarnos.</p>

<p>
    Utilizamos la información recopilada para:

    Procesar y gestionar tus compras y pedidos.
    Mejorar nuestros productos y servicios mediante análisis de uso.
    Enviarte notificaciones sobre tu cuenta y actualizaciones de productos.
    Personalizar tu experiencia en Gamestb, ofreciendo recomendaciones basadas en tus intereses.
</p>